<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>{{ title }}</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.5/css/bootstrap-flex.min.css">
	<link rel="stylesheet" href="/css/style.css">
	{% if ENV_DEVELOPMENT %}
		{#<script src="http://localhost:35729/livereload.js"></script>#}
	{% endif %}
</head>
<body>
	{% block header %}
		<nav class="navbar navbar-dark bg-inverse">
			<a class="navbar-brand" href="/">Home</a>
			<ul class="nav navbar-nav">
				<li class="nav-item">
					<a class="nav-link" href="/notifications">Get Notifications</a>
				</li>
			</ul>
		</nav>
		<p></p>
	{% endblock %}
	<script src="/js/fb.js"></script>
	<div
		class="fb-like"
		data-share="true"
		data-width="450"
		data-show-faces="true">
	</div>
	<button onclick="myFacebookLogin()">Login with Facebook</button>
	<p></p>
	{% block content %}{% endblock %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
